form input.display-none {
  display: none !important
}

/* Local Page Style 2 */
.mcb-section-k39c6w4gf {
  background-color: #F1F4FA;
  padding-bottom: 80px;
}

.mcb-section .mcb-wrap-pfplmovkic .mcb-wrap-inner-pfplmovkic {
  margin-top: -130px;
}

.mcb-section .mcb-wrap .mcb-item-hn1magwqj .desc {
  font-size: 8em;
  font-weight: 800;
  font-family: 'Plus Jakarta Sans';
  line-height: 1em;
}

.mcb-section .mcb-wrap .mcb-item-hn1magwqj .mcb-column-inner-hn1magwqj {
  margin-bottom: 10px;
}

.mcb-section .mcb-wrap .mcb-item-hn1magwqj .desc,
.mcb-section .mcb-wrap .mcb-item-hn1magwqj .desc a {
  color: #002A7D;
}

.mcb-section .mcb-wrap .mcb-item-xolmfilhn .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-icvsh1ft .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-pwn6ufv4s {
  z-index: 1;
}

.mcb-section .mcb-wrap .mcb-item-8jt81rx9p .mcb-column-inner-8jt81rx9p {
  margin-top: -80px;
}

.mcb-section .mcb-wrap .mcb-item-l5m55lymo .mfn-list .mfn-list-icon:after {
  font-size: 100px;
  line-height: 100px;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
}

.mcb-section .mcb-wrap .mcb-item-l5m55lymo .mfn-list {
  --mfn-list-icon-color: #FFFFFF;
  --mfn-list-icon-spacing: 30px;
}

.mcb-section .mcb-wrap .mcb-item-l5m55lymo .mfn-list .mfn-list-item {
  padding-bottom: 60px;
}

.mcb-section .mcb-wrap .mcb-item-l5m55lymo .mfn-list-desc {
  color: #4B5E75;
}

.mcb-section .mcb-wrap .mcb-item-17yaimw7f .title {
  background-position: center center;
}

.mcb-section-0cw18ylc .mcb-section-inner-0cw18ylc .mfn-queryloop-item-wrapper.mfn-ql-item-default {
  width: 50%;
}

.mcb-section-0cw18ylc {
  padding-bottom: 80px;
}

.mcb-section .mcb-wrap .mcb-item-ffsn1stg .image_frame {
  border-radius: 16px 16px 16px 16px;
}

.mcb-section .mcb-wrap .mcb-item-ffsn1stg .mcb-column-inner-ffsn1stg {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap .mcb-item-74pcr0e53 .column_attr a {
  color: #002A7D;
}

.mcb-section .mcb-wrap .mcb-item-74pcr0e53 .column_attr a:hover {
  color: #53EDFF;
}

.mcb-section .mcb-wrap .mcb-item-74pcr0e53 .mcb-column-inner-74pcr0e53 {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: -60px;
  background-color: #FFFFFF;
  border-radius: 16px 16px 16px 16px;
}

.mcb-section-nx5unqg1o .mcb-section-inner-nx5unqg1o {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-704u47twm .desc {
  font-size: 69px;
  line-height: 76px;
  font-weight: 800;
  font-family: Plus Jakarta Sans;
}

.mcb-section .mcb-wrap .mcb-item-704u47twm .desc,
.mcb-section .mcb-wrap .mcb-item-704u47twm .desc a {
  color: #002A7D;
}

.mcb-section .mcb-wrap .mcb-item-w27qlwz1a .title {
  margin-bottom: 5px;
}

.mcb-section .mcb-wrap .mcb-item-w27qlwz1a .icon-wrapper {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-w27qlwz1a {
  animation-delay: 250ms;
}

.mcb-section .mcb-wrap .mcb-item-0hfalb92j .title {
  margin-bottom: 5px;
}

.mcb-section .mcb-wrap .mcb-item-0hfalb92j .icon-wrapper {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-0hfalb92j {
  animation-delay: 500ms;
}

.mcb-section .mcb-wrap .mcb-item-ufxar2rxc .title {
  margin-bottom: 5px;
}

.mcb-section .mcb-wrap .mcb-item-ufxar2rxc .icon-wrapper {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-ufxar2rxc {
  animation-delay: 750ms;
}

.mcb-section-ql41ojun8 {
  padding-bottom: 80px;
}

.mcb-section .mcb-wrap-rraimwuf .mcb-wrap-inner-rraimwuf {
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-ej7axvn6l .desc {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-ej7axvn6l .mcb-column-inner-ej7axvn6l {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-c1c87dcn .mcb-column-inner-c1c87dcn {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-buc19fyj9 .title {
  background-position: center center;
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-buc19fyj9 .mcb-column-inner-buc19fyj9 {
  background-color: #FFFFFF;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 72px 72px 72px 72px;
}

.mcb-section .mcb-wrap-vbbtyvry .mcb-wrap-inner-vbbtyvry {
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-wjgfkbbza .desc {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-wjgfkbbza .mcb-column-inner-wjgfkbbza {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-2e1xdjd1o .mcb-column-inner-2e1xdjd1o {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-3f0gtmgqr .title {
  background-position: center center;
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-3f0gtmgqr .mcb-column-inner-3f0gtmgqr {
  background-color: #FFFFFF;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 72px 72px 72px 72px;
}

.mcb-section .mcb-wrap-vj5o4e7ra .mcb-wrap-inner-vj5o4e7ra {
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-an8iz3e6l .desc {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-an8iz3e6l .mcb-column-inner-an8iz3e6l {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-252717xwh .mcb-column-inner-252717xwh {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-2794rnl5u .title {
  background-position: center center;
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-2794rnl5u .mcb-column-inner-2794rnl5u {
  background-color: #FFFFFF;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 72px 72px 72px 72px;
}

.mcb-section .mcb-wrap-k5xu06htp .mcb-wrap-inner-k5xu06htp {
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-66vvpje5l .desc {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-66vvpje5l .mcb-column-inner-66vvpje5l {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-jur7xoj7c .mcb-column-inner-jur7xoj7c {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-sk9bf62qm .title {
  background-position: center center;
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-sk9bf62qm .mcb-column-inner-sk9bf62qm {
  background-color: #FFFFFF;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 72px 72px 72px 72px;
}

.mcb-section-h8ghor9ar .mcb-section-inner-h8ghor9ar {
  justify-content: flex-start;
}

.mcb-section-h8ghor9ar {
  background-image: url(https://themes.muffingroup.com/be/ski3/wp-content/uploads/2023/06/ski3-section-bg2.webp#94);
  background-size: cover;
  background-position: top center;
  padding-bottom: 120px;
}

.mcb-section-h8ghor9ar .mcb-background-overlay {
  background-image: linear-gradient(0deg, #1C2046 10%, rgba(0, 0, 0, 0) 30%);
}

.mcb-section .mcb-wrap .mcb-item-yxtawk5xc .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-yxtawk5xc .mcb-column-inner-yxtawk5xc {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-0lkwzflmr .title {
  background-position: center center;
  font-size: 69px;
  line-height: 76px;
}

.mcb-section .mcb-wrap .mcb-item-m4jw4tb0n .desc,
.mcb-section .mcb-wrap .mcb-item-m4jw4tb0n .desc a {
  color: #4B5E75;
}

.mcb-section .mcb-wrap-eb7xg8y2g .mcb-wrap-inner-eb7xg8y2g {
  padding-top: 60px;
  justify-content: flex-end;
}

.mcb-section .mcb-wrap .mcb-item-v8177cuk .mcb-column-inner-v8177cuk {
  background-color: #53EDFF;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 12px 12px 12px 12px;
}

.mcb-section .mcb-wrap .mcb-item-v8177cuk .column_attr {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-1j4dsr7qq .mfn-divider-inner {
  --mfn-divider-gap-top: 60px;
  --mfn-divider-gap-bottom: 60px;
}

.mcb-section .mcb-wrap .mcb-item-7w54ast4c .title {
  background-position: center center;
  font-size: 5em;
}

.mcb-section .mcb-wrap .mcb-item-7w54ast4c .title,
.mcb-section .mcb-wrap .mcb-item-7w54ast4c .title a {
  color: #53EDFF;
}

.mcb-section .mcb-wrap .mcb-item-7w54ast4c .mcb-column-inner-7w54ast4c {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap .mcb-item-diamzeorh .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-diamzeorh .title,
.mcb-section .mcb-wrap .mcb-item-diamzeorh .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-diamzeorh .mcb-column-inner-diamzeorh {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-ebaklyirb .desc,
.mcb-section .mcb-wrap .mcb-item-ebaklyirb .desc a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-ex34z4fvj .title {
  background-position: center center;
  font-size: 5em;
}

.mcb-section .mcb-wrap .mcb-item-ex34z4fvj .title,
.mcb-section .mcb-wrap .mcb-item-ex34z4fvj .title a {
  color: #53EDFF;
}

.mcb-section .mcb-wrap .mcb-item-ex34z4fvj .mcb-column-inner-ex34z4fvj {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap .mcb-item-e0v7debdq .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-e0v7debdq .title,
.mcb-section .mcb-wrap .mcb-item-e0v7debdq .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-e0v7debdq .mcb-column-inner-e0v7debdq {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-84wm6m1pa .desc,
.mcb-section .mcb-wrap .mcb-item-84wm6m1pa .desc a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-5ff9a0131 .title {
  background-position: center center;
  font-size: 5em;
}

.mcb-section .mcb-wrap .mcb-item-5ff9a0131 .title,
.mcb-section .mcb-wrap .mcb-item-5ff9a0131 .title a {
  color: #53EDFF;
}

.mcb-section .mcb-wrap .mcb-item-5ff9a0131 .mcb-column-inner-5ff9a0131 {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap .mcb-item-3bf5foxzh .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-3bf5foxzh .title,
.mcb-section .mcb-wrap .mcb-item-3bf5foxzh .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-3bf5foxzh .mcb-column-inner-3bf5foxzh {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-szytauw8 .desc,
.mcb-section .mcb-wrap .mcb-item-szytauw8 .desc a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-t65bo3qm .mfn-divider-inner {
  --mfn-divider-gap-top: 30px;
  --mfn-divider-gap-bottom: 30px;
}

.mcb-section .mcb-wrap-nppda7iq .mcb-wrap-inner-nppda7iq {
  height: 555px;
  margin-right: 12px;
  margin-left: 12px;
  background-image: url(https://themes.muffingroup.com/be/ski3/wp-content/uploads/2023/06/ski3-wrap-bg1.webp#54);
  background-position: top left;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 24px 24px 24px 24px;
  align-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #2B3267;
}

.mcb-section .mcb-wrap-nppda7iq {
  animation-delay: 250ms;
}

.mcb-section .mcb-wrap .mcb-item-hzo7r40fc .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-hzo7r40fc .title,
.mcb-section .mcb-wrap .mcb-item-hzo7r40fc .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-hzo7r40fc .mcb-column-inner-hzo7r40fc {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-n8jexi7zt .title {
  background-position: center center;
  font-size: 30px;
  line-height: 40px;
}

.mcb-section .mcb-wrap .mcb-item-n8jexi7zt .title,
.mcb-section .mcb-wrap .mcb-item-n8jexi7zt .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-84dj6lcg5 .mcb-column-inner-84dj6lcg5 {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap-xr9lsl4ye .mcb-wrap-inner-xr9lsl4ye {
  height: 555px;
  margin-right: 12px;
  margin-left: 12px;
  background-image: url(https://themes.muffingroup.com/be/ski3/wp-content/uploads/2023/06/ski3-wrap-bg2.webp#55);
  background-position: bottom center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 24px 24px 24px 24px;
  align-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2B3267;
}

.mcb-section .mcb-wrap-xr9lsl4ye {
  animation-delay: 500ms;
}

.mcb-section .mcb-wrap .mcb-item-zum7i1tv4 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-zum7i1tv4 .title,
.mcb-section .mcb-wrap .mcb-item-zum7i1tv4 .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-zum7i1tv4 .mcb-column-inner-zum7i1tv4 {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-1lh2atju9 .title {
  background-position: center center;
  font-size: 30px;
  line-height: 40px;
}

.mcb-section .mcb-wrap .mcb-item-1lh2atju9 .title,
.mcb-section .mcb-wrap .mcb-item-1lh2atju9 .title a {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-snohdq61 .mcb-column-inner-snohdq61 {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap-tmxi9118s .mcb-wrap-inner-tmxi9118s {
  height: 555px;
  margin-right: 12px;
  margin-left: 12px;
  background-image: url(https://themes.muffingroup.com/be/ski3/wp-content/uploads/2023/06/ski3-wrap-bg3.webp#56);
  background-position: top center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 24px 24px 24px 24px;
  align-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.mcb-section .mcb-wrap-tmxi9118s {
  animation-delay: 750ms;
}

.mcb-section .mcb-wrap .mcb-item-rq15nu2y .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-rq15nu2y .mcb-column-inner-rq15nu2y {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-1a9twjp3t .title {
  background-position: center center;
  font-size: 30px;
  line-height: 40px;
}

.mcb-section .mcb-wrap .mcb-item-gyerayz2 .mcb-column-inner-gyerayz2 {
  margin-bottom: 0px;
}

.mcb-section-542hm1xd {
  background-color: #1C2046;
}

.mcb-section .mcb-wrap .mcb-item-rdhy564ua .mcb-column-inner-rdhy564ua {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

@media(max-width: 959px) {
  .mcb-section-k39c6w4gf {
    padding-bottom: 20px;
  }

  .mcb-section .mcb-wrap-pfplmovkic .mcb-wrap-inner-pfplmovkic {
    margin-top: -10px;
  }

  .mcb-section .mcb-wrap .mcb-item-hn1magwqj .desc {
    font-size: 6em;
  }

  .mcb-section .mcb-wrap .mcb-item-8jt81rx9p .mcb-column-inner-8jt81rx9p {
    margin-top: 0px;
  }

  .mcb-section-0cw18ylc .mcb-section-inner-0cw18ylc .mfn-queryloop-item-wrapper.mfn-ql-item-default {
    width: 50%;
  }

  .mcb-section-0cw18ylc {
    padding-bottom: 80px;
  }

  .mcb-section .mcb-wrap .mcb-item-74pcr0e53 .mcb-column-inner-74pcr0e53 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .mcb-section .mcb-wrap .mcb-item-704u47twm .desc {
    font-size: 50px;
    line-height: 59px;
  }

  .mcb-section-ql41ojun8 {
    padding-bottom: 40px;
  }

  .mcb-section-h8ghor9ar {
    padding-bottom: 80px;
    background-position: bottom right;
  }

  .mcb-section .mcb-wrap .mcb-item-0lkwzflmr .title {
    font-size: 50px;
    line-height: 60px;
  }

  .mcb-section .mcb-wrap .mcb-item-1j4dsr7qq .mfn-divider-inner {
    --mfn-divider-gap-top: 20px;
    --mfn-divider-gap-bottom: 20px;
  }

  .mcb-section .mcb-wrap .mcb-item-t65bo3qm .mfn-divider-inner {
    --mfn-divider-gap-top: 20px;
    --mfn-divider-gap-bottom: 20px;
  }

  .mcb-section .mcb-wrap-nppda7iq .mcb-wrap-inner-nppda7iq {
    height: 450px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .mcb-section .mcb-wrap .mcb-item-n8jexi7zt .title {
    font-size: 21px;
    line-height: 28px;
  }

  .mcb-section .mcb-wrap-xr9lsl4ye .mcb-wrap-inner-xr9lsl4ye {
    height: 450px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .mcb-section .mcb-wrap .mcb-item-1lh2atju9 .title {
    font-size: 21px;
    line-height: 28px;
  }

  .mcb-section .mcb-wrap-tmxi9118s .mcb-wrap-inner-tmxi9118s {
    height: 450px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .mcb-section .mcb-wrap .mcb-item-1a9twjp3t .title {
    font-size: 21px;
    line-height: 28px;
  }
}

@media(max-width: 767px) {
  .mcb-section .mcb-wrap-pfplmovkic .mcb-wrap-inner-pfplmovkic {
    margin-top: -30px;
  }

  .mcb-section .mcb-wrap .mcb-item-hn1magwqj .desc {
    font-size: 5em;
  }

  .mcb-section-0cw18ylc .mcb-section-inner-0cw18ylc .mfn-queryloop-item-wrapper.mfn-ql-item-default {
    width: 100%;
  }

  .mcb-section-0cw18ylc {
    padding-bottom: 80px;
  }

  .mcb-section-h8ghor9ar {
    padding-bottom: 60px;
    background-position: top center;
  }

  .mcb-section .mcb-wrap-eb7xg8y2g .mcb-wrap-inner-eb7xg8y2g {
    justify-content: flex-start;
    padding-top: 0px;
  }

  .mcb-section .mcb-wrap .mcb-item-1j4dsr7qq .mfn-divider-inner {
    --mfn-divider-gap-top: 10px;
    --mfn-divider-gap-bottom: 10px;
  }

  .mcb-section .mcb-wrap-nppda7iq .mcb-wrap-inner-nppda7iq {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .mcb-section .mcb-wrap-xr9lsl4ye .mcb-wrap-inner-xr9lsl4ye {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .mcb-section .mcb-wrap-tmxi9118s .mcb-wrap-inner-tmxi9118s {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

/* Local Header Style 117 */
.mcb-section-6ud7mwxx .mcb-section-inner-6ud7mwxx {
  align-items: center;
}

.mcb-section-6ud7mwxx {
  background-color: #F1F4FA;
}

.mcb-section .mcb-wrap-omcr404zv {
  flex-grow: 1;
}

.mcb-section .mcb-wrap-omcr404zv .mcb-wrap-inner-omcr404zv {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-iugyfmcl .logo-wrapper {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-iugyfmcl {
  flex: 0 0 250px;
  max-width: 250px;
}

.mcb-section .mcb-wrap-n8l9wqx44 {
  flex-grow: 1;
}

.mcb-section .mcb-wrap-n8l9wqx44 .mcb-wrap-inner-n8l9wqx44 {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-e5qcfhl2j .mfn-header-tmpl-menu-sidebar .mfn-header-tmpl-menu-sidebar-wrapper {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-e5qcfhl2j .mfn-header-tmpl-menu-sidebar .mfn-close-icon {
  font-size: 20px;
}

.mcb-section .mcb-wrap .mcb-item-e5qcfhl2j .mfn-icon-box .icon-wrapper {
  width: 75px;
  height: 75px;
  --mfn-header-icon-size: 102px;
  --mfn-header-menu-icon-size: 30px;
}

.mcb-section .mcb-wrap .mcb-item-e5qcfhl2j .icon-wrapper {
  background-color: #D7FC69;
}

.mcb-section .mcb-wrap .mcb-item-e5qcfhl2j .icon-wrapper i {
  color: #002A7D;
}

.mcb-section-34pqmhi7h .mcb-section-inner-34pqmhi7h {
  align-items: stretch;
}

.mcb-section .mcb-wrap-w6c9vhwzr {
  flex-grow: 1;
}

.mcb-section .mcb-wrap-w6c9vhwzr .mcb-wrap-inner-w6c9vhwzr {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-nqkpzttc .logo-wrapper {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-nqkpzttc {
  flex: 0 0 325px;
  max-width: 325px;
}

.mcb-section .mcb-wrap-od9alli38 {
  flex-grow: 1;
}

.mcb-section .mcb-wrap-od9alli38 .mcb-wrap-inner-od9alli38 {
  align-items: center;
  justify-content: flex-end;
}

.mcb-section .mcb-wrap .mcb-item-88ol153l .mfn-header-tmpl-menu-sidebar .mfn-header-tmpl-menu-sidebar-wrapper {
  align-items: center;
}

.mcb-section .mcb-wrap .mcb-item-88ol153l .mfn-header-tmpl-menu-sidebar .mfn-close-icon {
  font-size: 20px;
}

.mcb-section .mcb-wrap .mcb-item-88ol153l .mfn-icon-box .icon-wrapper {
  width: 75px;
  height: 75px;
  --mfn-header-icon-size: 102px;
  --mfn-header-menu-icon-size: 30px;
}

.mcb-section .mcb-wrap .mcb-item-88ol153l .icon-wrapper {
  background-color: #D7FC69;
}

.mcb-section .mcb-wrap .mcb-item-88ol153l .icon-wrapper i {
  color: #002A7D;
}

@media(max-width: 959px) {
  .mcb-section-6ud7mwxx .mcb-section-inner-6ud7mwxx {
    align-items: center;
  }

  .mcb-section .mcb-wrap-omcr404zv {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-omcr404zv .mcb-wrap-inner-omcr404zv {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-iugyfmcl .logo-wrapper {
    align-items: center;
  }

  .mcb-section .mcb-wrap-n8l9wqx44 {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-n8l9wqx44 .mcb-wrap-inner-n8l9wqx44 {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-e5qcfhl2j .mfn-icon-box .icon-wrapper {
    width: 50px;
    height: 50px;
  }

  .mcb-section-34pqmhi7h .mcb-section-inner-34pqmhi7h {
    align-items: center;
  }

  .mcb-section .mcb-wrap-w6c9vhwzr {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-w6c9vhwzr .mcb-wrap-inner-w6c9vhwzr {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-nqkpzttc .logo-wrapper {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-nqkpzttc {
    flex: 240px;
    max-width: 240px;
  }

  .mcb-section .mcb-wrap-od9alli38 {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-od9alli38 .mcb-wrap-inner-od9alli38 {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-88ol153l .mfn-icon-box .icon-wrapper {
    width: 50px;
    height: 50px;
  }
}

@media(max-width: 767px) {
  .mcb-section-6ud7mwxx .mcb-section-inner-6ud7mwxx {
    align-items: center;
  }

  .mcb-section .mcb-wrap-omcr404zv {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-omcr404zv .mcb-wrap-inner-omcr404zv {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-iugyfmcl .logo-wrapper {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-iugyfmcl {
    flex: 120px;
    max-width: 120px;
  }

  .mcb-section .mcb-wrap-n8l9wqx44 {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-n8l9wqx44 .mcb-wrap-inner-n8l9wqx44 {
    align-items: center;
    justify-content: flex-end;
  }

  .mcb-section-34pqmhi7h .mcb-section-inner-34pqmhi7h {
    align-items: center;
  }

  .mcb-section .mcb-wrap-w6c9vhwzr {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-w6c9vhwzr .mcb-wrap-inner-w6c9vhwzr {
    align-items: center;
  }

  .mcb-section .mcb-wrap .mcb-item-nqkpzttc .logo-wrapper {
    align-items: center;
  }

  .mcb-section .mcb-wrap-od9alli38 {
    flex-grow: 1;
  }

  .mcb-section .mcb-wrap-od9alli38 .mcb-wrap-inner-od9alli38 {
    align-items: center;
  }
}